.about {
  @extend %section;
  background-color: #91676b;
  background-color: #FFF5F6;
}

.about__p {
  @extend %section__p;
  margin-top: 0;
}

.about__h2 {
  @extend %products__h2;
}

.about__img1 {
  margin-right: auto;
  margin-top: 32px;
  margin-left: auto;
}

.about__text1 {
  margin-top: 40px;
  width: 220px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px; // if value changed also need to change below value
  --font-size-about__text1: 12px;
  line-height: 1.58; // if value changed also need to change below value
  --line-height-about__text1: 1.58;
  color: #000000;
  text-align: left;
}

.pre-fringilla {
  @extend .pre;
  margin-bottom: calc(-1 * var(--font-size-about__text1) * var(--line-height-about__text1));
}

.about__text2::before {
  content: '';
  display: block;
  width: 320px;
  height: 133px;
  position: absolute;
  background-image: url(../images/milk-320-133.png);
  background-position: left 0 top 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -48px;
  margin-left: -20px;
  z-index: -1;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/milk-640-266.png);
    background-size: 320px 133px;
  }
}

.about__text2 {
  @extend .about__text1;
  color: #907e82;
  position: relative;
}

.about__br::after {
  display: block;
  content: '';
  margin-bottom: var(--font-size-about__text1);
}

.about-btn-container {
  margin-top: 20px;
  width: 176px;
  height: 44px;
  background-color: #fff;
  border-radius: 22px;
  display: inline-block;
  text-align: center;
}

.about-read-more {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
  height: 100%;
}

.about-icon {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
}