/*==============global style reset============= */
body {
  // font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
ol
 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
/*===================general==================== */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}