<section class="about">
    <!-- <img class="about__img2" src="images/milk-320-133.png" alt="photo milk" /> -->
    <p class="about__p">tradition and love</p>
    <h2 class="about__h2">how it’s made?</h2>
    <img class="about__img1" srcset="images/cow-280-279.png 280w, images/cow-560-558.png 560w" sizes="280px" src="images/cow-280-279.png" alt="photo cow" />
    <p class="about__text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo <span class="pre-fringilla">fringilla.</span>
        <span class="about__br"></span>
    </p>
    <p class="about__text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        <span class="about__br"></span>
        Aliquam erat volutpat. Aenean accumsan.
    </p>
    <div class="btn-container">
        <button type="button" class="btn-buy-now">Read more</button>
        <svg class="icon-arrow-right">
            <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
    </div>
</section>