<section class="advantages">
    <h2 class="visually-hidden">advantages</h2>
    <ul>
        <li class="advantages__li">
            <span class="advantages__721">721</span>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li">
            <span class="advantages__16KG">16KG</span>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li">
            <span class="advantages__84">84</span>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>