<section class="reviews">
    <img class="reviews__img" srcset="images/woman-85-85.png 85w, images/woman-170-170.png 170w" sizes="85px" src="images/woman-85-85.png" alt="photo womans head" />
    <div class="reviews__div">
        <p class="reviews__quotes">
            Nullam viverra
            consectetuer. Quisque
            cursus et, porttitor risus.
            Aliquam sem. In hendrerit
            nulla quam nunc,
            accumsan congue. Lorem
            ipsum primis in nibh vel
            risus.</p>
    </div>
</section>