<section class="gallery">
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <!-- srcset="../src/images/1.jpg 2647w,
            srcset="../src/images/2.jpg 2190w,
            srcset="../src/images/3.jpg 1080w,
            srcset="../src/images/4.jpg 2732w,
            srcset="../src/images/5.jpg 2732w,
            srcset="../src/images/6.jpg 2880w,
            srcset="../src/images/7.jpg 3272w,
            srcset="../src/images/8.jpg 5760w,
            srcset="../src/images/9.jpg 4928w,
            srcset="../src/images/0.jpg 1400w, -->
            <div class="swiper-slide"><img sizes="320px" src="../src/images/1.jpeg" alt="photo ice-cream Jesus Juice" /></div>
            <div class="swiper-slide"><img class="gallery-cover" sizes="320px" src="../src/images/2.jpg" alt="photo ice-cream Peanut Butter Curry" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/3.jpg" alt="photo ice-cream Carrot Mango" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/4.jpg" alt="photo ice-cream Secret Breakfast" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/5.jpg" alt="photo ice-cream Elvis" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/6.jpg" alt="photo ice-cream The Fat Years" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/7.jpg" alt="photo ice-cream Smoked Sea Salt" /></div>
            <div class="swiper-slide"><img class="gallery-cover" sizes="320px" src="../src/images/8.jpg" alt="photo ice-cream Government Cheese" /></div>
            <div class="swiper-slide"><img class="gallery-cover" sizes="320px" src="../src/images/9.jpg" alt="photo ice-cream Hibiscus Beet" /></div>
            <div class="swiper-slide"><img sizes="320px" src="../src/images/0.jpg" alt="photo ice-cream Mocha Macchiato" /></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="gallery__div"></div>
</section>