  <header class="header">
      <a class="header__logo" href="../src/index.html"><img srcset="../src/images/logo-min-120-43.png 120w, ../src/images/logo-min-240-86.png 240w" sizes="120px" src="../src/images/logo-min-120-43.png" alt="logo" /></a>
      <nav class="header__nav">
        <ul>
          <li class="nav__item"><a class="nav__link" href="">About</a></li>
          <li class="nav__item"><a class="nav__link" href="">Features</a></li>
          <li class="nav__item"><a class="nav__link" href="">How to Use</a></li>
          <li class="nav__item"><a class="nav__link" href="">Download</a></li>
        </ul>
      </nav>

    </header>
      <header class="header">
        <div class="header__container">
          <nav class="nav-mobile">
            <a href="" class="logo">
              <span class="logo logo--accent-color">Web</span>Studio</a>
            <button type="button" class="nav-mobile__button nav-mobile__button--is-open" aria-expanded="false" aria-controls="sitemap-mobile" button>
              <svg class="nav-mobile__menu" aria-label="Переключатель мобильного меню">
                <use class="nav-mobile__icon-menu" href="./images/icons.svg#icon-menu-40px"></use>
                <use class="nav-mobile__icon-close" href="./images/icons.svg#icon-close_40px"></use>
              </svg>
            </button>
            <div class="sitemap-mobile" id="sitemap-mobile" menu>
              <ul class="sitemap-mobile__ul">
                <li class="sitemap-mobile__li">
                  <a class="sitemap-mobile__href" href="./index.html">Студия</a>
                </li>
                <li class="sitemap-mobile__li">
                  <a class="sitemap-mobile__href" href="./portfolio.html">Портфолио</a>
                </li>
                <li class="sitemap-mobile__li">
                  <a class="sitemap-mobile__href" href="">Контакты</a>
                </li>
              </ul>
              <ul class="sitemap-mobile__list">
                <li class="sitemap-mobile__item">
                  <a class="sitemap-mobile__tel" href="tel:+380961111111">+38 096 111 11 11</a>
                </li>
                <li class="sitemap-mobile__item">
                  <a class="sitemap-mobile__mail" href="mailto:info@devstudio.com">info@devstudio.com</a>
                </li>
              </ul>
              <ul class="sitemap-mobile__cardset">
                <li class="sitemap-mobile__card">
                  <a class="sitemap-mobile__socials" href="">
                    Instagram</a>
                </li>
                <li class="sitemap-mobile__card">
                  <a class="sitemap-mobile__socials" href="">
                    Twitter</a>
                </li>
                <li class="sitemap-mobile__card">
                  <a class="sitemap-mobile__socials" href="">
                    Facebook</a>
                </li>
                <li class="sitemap-mobile__card">
                  <a class="sitemap-mobile__socials" href="">
                    LinkedIn</a>
                </li>
              </ul>
            </div>
          </nav>
          <nav class="nav">
            <a href="" class="logo"><span class="logo logo--accent-color">Web</span>Studio</a>
            <ul class="nav__menu">
              <li class="nav__li">
                <a href="./index.html" class="nav__current nav__current--color">Студия</a>
              </li>
              <li class="nav__li">
                <a href="./portfolio.html" class="nav__current">Портфолио</a>
              </li>
              <li class="nav__li">
                <a href="" class="nav__current">Контакты</a>
              </li>
            </ul>
          </nav>
          <ul class="header__mail-tel">
            <li class="header__li">
              <a href="mailto:info@devstudio.com" class="header__href"><svg class="header__envelope">
                  <use href="./images/icons.svg#icon-envelope1"></use>
                </svg>info@devstudio.com</a>
            </li>
            <li class="header__li">
              <a href="tel:+380961111111" class="header__href"><svg class="header__smartphone">
                  <use href="./images/icons.svg#icon-smartphone1"></use>
                </svg>+38 096 111 11 11</a>
            </li>
          </ul>
        </div>
      </header>