<header class="hero">

  <a class="header__logo" href="../src/index.html"><img srcset="../src/images/header-logo-199-50.png 199w, ../src/images/header-logo-398-100.png 398w" sizes="199px" src="../src/images/header-logo-199-50.png" alt="logo" /></a>

  <button type="button" class="button button--is-open" aria-expanded="false" aria-controls="header" button>
    <svg class="menu" aria-label="Переключатель мобильного меню">
      <use class="icon-menu" href="./images/icons.svg#icon-menu"></use>
      <use class="icon-close" href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="header" id="header" menu>
    <div class="btn-container">
      <button type="button" class="btn-buy-now">Buy now</button>
      <svg class="icon-arrow-right">
        <use href="images/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <nav>
      <ul class="nav__ul">
        <li class="nav__li"><a class="nav__href" href="">Home</a></li>
        <li class="nav__li"><a class="nav__href" href="">About</a></li>
        <li class="nav__li"><a class="nav__href" href="">How it’s made?</a></li>
        <li class="nav__li"><a class="nav__href" href="">Our products</a></li>
        <li class="nav__li"><a class="nav__href" href="">Contact</a></li>
      </ul>
    </nav>
  </div>
  <h1>ice cream <p class="pre">made with</p> <span class="h1-span">passion</span></h1>
    <button type="button" class="btn-product">Products</button>
    <button type="button" class="btn-how-its-made">How it’s made?</button>
</header>