<section class="products">
    <p class="products__p">100% natural</p>
    <h2 class="products__h2">products</h2>
    <ul>
    <li class="products__li">
        <h3 class="products__ice-cream">ice cream</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__arrow"></button>
    </li>
    <li class="products__li">
        <h3 class="products__ice-coffee">ice-coffee</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__arrow"></button>
    </li>
    <li class="products__li">
        <h3 class="products__milkshakes">milkshakes</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__arrow"></button>
    </li>
    </ul>
</section>